{{!< header-nav}}

{{! Here are where the links for the static pages are Here is an example link: }}
{{! <a href="/example">example</a> }}
{{! If you copy and past that below and replace "example" with your static page's url, it will take you there. }}

<a href="/about">About</a>